<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>945327503601-4o7m0rle6j46p23t31pr40i1in2pktpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945327503601-4o7m0rle6j46p23t31pr40i1in2pktpl</string>
	<key>API_KEY</key>
	<string>AIzaSyBA7xyLEJlBv1Y8uiZLY65AnMwZtQOz6Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>945327503601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Difeng-Chen.Dife</string>
	<key>PROJECT_ID</key>
	<string>dife-b97bc</string>
	<key>STORAGE_BUCKET</key>
	<string>dife-b97bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945327503601:ios:fa1fef54e429a6c6</string>
	<key>DATABASE_URL</key>
	<string>https://dife-b97bc.firebaseio.com</string>
</dict>
</plist>